.btn-container{
  border: 2px solid red;
  margin: auto;
  width: 20%;
  padding:15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.btn-container button{
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
}
.header-container{
  width: 98%;
  margin: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.358);
}
.header-container .row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.header-container .col-25{
  width: 20%;
  border: none;
  padding: 15px;
}
.txt-logo h2{
  font-size: 30px;
  font-family: monospace;
  font-weight: bolder;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.90);

}
.header-container .col-70{
  width:  40%;
  padding: 15px;
  border: none;
}
.link{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link a{
  color: rgba(0, 0, 0, 0.674);
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
}
.model-container{
  border: 2px solid red;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.model{
  width: 30%;
  margin: auto;
  padding: 15px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.133);
  border:none;
  opacity: 0.90;
}
.model h1{
  font-size: 21px;
  font-weight: bold;
  padding: 10px 10px;
  font-family: monospace;
}
.model p{
  padding: 10px;
  color:#777777;
  font-size: 18px;
}
.model .btn-model {
  padding: 8px 19px;
  border-radius: 10px;
  font-size: 21px;
  background: green;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border:none;
  outline: none;
  float: right;
}
.form-container{
  width: 43%;
  padding: 20px;
  margin:10px auto;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 2px rgba(145, 143, 143, 0.272);
}
.form-container form{
  border: none;
  padding: 10px;
  width: 100%;
  
}
.form-container form > div label,input{
  padding: 15px;

}
.form-container form label{
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #587977;
  font-family: Monospaced;
}
.form-container form>div{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-container form>div label{
  font-size: 24px;
  font-weight: bold;
  color: #587977;
  font-family: Monospaced;
}
.form-container form>div input {
  width: 70%;
  border: none;
  background-color: #eee;
  border-radius: 8px;
}
.form-container .btn {
  padding: 10px 15px;
  border-radius: 5px;
  border:none;
  font-size: 14px;
  color: rgb(119, 119, 119);
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  float: right;
}
.form-container .typing{
  padding: 15px;
  margin:30px 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  font-size: 18px;
}
.typing p{
  width: 69%;
  font-size: 21px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #777777;
  border: none;
  padding: 10px;
  overflow-x: hidden;
  margin-top: -10px;
}
.btn-resent{
  text-align: center;
  margin:8px auto;
  padding: 10px;
  border-radius: 10px;

}
.form-container select{
  width: 60%;
  padding: 15px;
  border: none;
}
.form-container option{
  padding: 15px !important;
}