body{
  background-color: #010101;
}
.App{
  max-width: 860px;
  margin: 40px auto;
}
.App h1{
  color: tomato;
  margin: 10px 0;
}

button{
  background: none;
  border: 2px solid rgb(90, 175, 157);
  padding: 6px;
  border-radius:4px;
  color:#3df1f1;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  
}
button:hover{
  background-color: #c23866;
  color: #fff;
}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.cards .card{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  
}
.card>div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}